{% extends 'base.html' %}

{% block title %}
Book Store
{% endblock %}


{% block navbar %}
<ul class="nav navbar-nav">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Page 1</a></li>
  <li><a href="#">Page 2</a></li>
  <li><a href="#">Page 3</a></li>
</ul>
{% endblock %}

{% block content %}
<h3>Search for a book!</h3>
<form action="" method="GET">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.book.label(class = "form-control-label") }}
      {% if form.book.errors %}
      {{ form.book(class = "form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.book.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.book(class = "form-control form-control-lg") }}
      {% endif %}
    </div>
  </fieldset>
  <div class="form-group">
    {{ form.submit(class = "btn btn-outline-info") }}
  </div>
</form>

{% for book in books %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="{{ url_for('book', book_id = book['book_id']) }}">{{ book['title'] }}</a></h2>
    <p class="article-content">written by: {{book['author'] }}</p>
    <div class="article-metadata">
      <small class="text-muted">Published Data: {{ book['year'] }}</small>
      <small class="text-muted">ISBN: {{ book['isbn'] }}</small>
    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}